In [9]:
import sqlite3
from pathlib import Path


class Employee :
    """A sample Employee class"""

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay

    @property
    def email(self):
        return '{} {}@email.com'.format(self.first, self.last)

    @property
    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def __repr__(self):
        return "Employee('{}', '{}', {})".format(self.first, self.last, self.pay)

In [10]:
path = Path.cwd() / Path("employees.db")

# conn = sqlite3.connect(':memory:') # In Memory Database
conn = sqlite3.connect(path) # File Database

c = conn.cursor()

try:
    # Create table
    c.execute("""CREATE TABLE employees (
                first text,
                last text,
                pay integer
                ) """)
            
except sqlite3.OperationalError:
    # Table already exist
    pass

In [11]:
emp_1 = Employee("John", "Doe", 80000)
emp_2 = Employee("Jane", "Doe", 80000)

In [12]:
def insert_emp(emp):
    with conn:  # commit auto
        c.execute(
            "INSERT INTO employees VALUES (:first, :last, :pay)",
            {"first": emp.first, "last": emp.last, "pay": emp.pay},
        )
insert_emp(emp_1)
insert_emp(emp_2)

In [13]:
def get_emps_by_name(lastname):
    with conn:
        c.execute(
            "SELECT * FROM employees WHERE last=:last", {"last": lastname}
        )  # no need to commit
        return c.fetchall()

get_emps_by_name(emp_2.last)

[('John', 'Doe', 80000),
 ('John', 'Doe', 80000),
 ('John', 'Doe', 80000),
 ('John', 'Doe', 80000),
 ('Jane', 'Doe', 80000)]

In [14]:
def update_pay(emp, pay):
    with conn:
        c.execute(
            """UPDATE employees SET pay = :pay
                    WHERE first = :first AND last = :last""",
            {"first": emp.first, "last": emp.last, "pay": pay},
        )
update_pay(emp_2, 95000)

In [15]:
def remove_emp(emp):
    with conn:
        c.execute(
            "DELETE from employees WHERE first = :first AND last = :last",
            {"first": emp.first, "last": emp.last},
        )
remove_emp(emp_2)

In [16]:
conn.close()

In [17]:
os.remove("employees.db")